@media (max-width:430px) {
    .container {
        max-width: 430px;
    }

    .header__nav {
        display: none;
    }

    .header {
        max-width: 430px;
    }

    /* main  */

    .main__wrapper {
        padding: 167px 0 58px;
    }

    .main__title {
        font-size: 72px;
        line-height: 87px;
    }

    .main__subtitle {
        font-size: 18px;
        line-height: 25px;
    }

    .main__box {
        flex-wrap: wrap;
    }

    .main__card {
        margin-bottom: 29px;
    }

    .main__btn {
        display: block;
        width: 360px;
        height: 50px;
        left: 35px;
        top: 918px;
        background-color: transparent;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        border: 2.04px solid #D1FF5D;
        border-radius: 3px;
        margin: 0 auto;
        margin-top: 42px;
    }


    /* about */


    .about__title {
        font-size: 70px;
        line-height: 60px;
        width: 267px;
    }

    .about__wrapper-first {
        flex-wrap: wrap;
    }

    .about__wrapper-first::before {
        left: -45px;
        top: -6px;
        width: 499px;
        font-size: 114px;
        line-height: 117px;
    }

    .about__txt {
        font-size: 18px;
        line-height: 25px;
    }

    .about__txt-line::after {
        display: none;
    }

    .about__img {
        width: 337px;
        margin: 0 auto;
    }

    .about__img {
        object-fit: contain;
        height: 100%;
        padding-top: 182px;
    }


    .about__img::before {
        width: 304px;
        height: 202px;
        overflow: hidden;
        top: 30px;
        left: 70px;
    }

    .about__img::after {
        width: 380px;
        top: 10px;
        left: 30px;
    }

    .about__wrapper-second {
        flex-wrap: wrap;
        padding-bottom: 55px;
    }

    .about__question-txt {
        font-size: 40px;
        line-height: 50px;
        max-width: 348px;
        margin-bottom: 73px;
    }

    .about__question::before {
        width: 416px;
        height: 205px;
        top: -20px;
    }

    .about__subtitle {
        font-size: 24px;
        line-height: 17px;
        width: 315px;
    }

    .about__steps img {
        margin: 0 14px 0 0;
    }

    .about__question {
        padding: 5px 0 0;
    }

    .about__desc {
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 40px;
    }

    .about__steps:not(:last-child)::after {
        top: 80px;
        left: 43px;
    }

    /* why */


    .why__title {
        font-size: 70px;
        line-height: 63px;
        margin-bottom: 63px;
    }

    .why__wrapper {
        padding: 72px 0 82px;
    }


    .why__wrapper::before {
        font-size: 96px;
        line-height: 85px;
        left: -70px;
        top: 19px;
    }

    .why__cards {
        grid-template-columns: 1fr;
    }


    .why__box {
        width: 370px;
        margin: 0 auto;
        margin-bottom: 65px;
    }

    .why__box::before {
        height: 370px;
        bottom: -22px;
        left: -20px;
    }

    .why__subtitle {
        font-size: 24px;
        line-height: 26px;
    }

    .why__txt {
        font-size: 18px;
        line-height: 25px;
    }

    .why__btn {
        margin: 0 auto;
    }


    /* countries  */

    .countries__wrapper {
        padding: 36px 0 121px;
    }

    .countries__img-map {
        width: 450px;
        margin: 0 auto;
        margin-left: -30px;
    }

    .countries__title {
        font-size: 50px;
        line-height: 60px;
    }

    .countries__title::after {
        font-size: 69.2367px;
        line-height: 82px;
        width: 302px;
        left: -16px;
        top: -40px;

    }

    .countries__list {
        display: none;
    }


    .countries__img-america {
        top: 170px;
        left: -120px;
    }

    .countries__img-asia {
        top: 203px;
        right: -115px;
    }

    .countries__img-europe {
        top: 135px;
        left: 60px;
    }

    .countries__img-africa {
        top: 255px;
        left: -10px;
    }


    /* partners */

    ..partners__wrapper {
        padding: 71px 0 82px;
    }

    .partners__box {
        width: 390px;
        margin: 0 auto;
    }

    .partners__title {
        font-size: 40px;
        line-height: 118px;
    }

    .partners__title::after {
        display: none;
    }

    /* footer */

    .footer__wrapper {
        grid-template-columns: 1fr;
    }

}