* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1456px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
    background: #0D2228;
}

button {
    color: transparent;
}

/* header */

.header {
    background: rgba(13, 34, 40, 0.3);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;

}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__burger {
    display: none;
}

.header__link {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    margin-left: 21px;

}

.header__link:hover {
    color: #D1FF5D;
}

.header__link:not(:first-child):before {
    content: "|";
    margin-right: 21px;
    color: #D1FF5D;
}


.header__btn {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    background-color: transparent;
    border: 2.04px solid #D1FF5D;
    width: 208px;
    height: 50px;
    border-radius: 3px;
    margin-left: 23px;
}

.header__btn:hover {
    background-color: #D1FF5D;
    color: #000000;
}


/* main */

.main {
    background-image: url(../images/bg\ main.png);
}

.main__wrapper {
    padding: 206px 0 158px;
}

.main__title {

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 170px;
    line-height: 206px;
    text-align: center;
    background: linear-gradient(180deg, #FFFFFF 0%, #D1FF5D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 41px;
    position: relative;

}

.main__title::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 1px;
    background-color: #D1FF5D;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}

.main__subtitle {

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 782px;
    margin: 0 auto;
    margin-bottom: 85px;
}


.main__box {
    display: flex;
    justify-content: center;

}

.main__card {
    width: 222px;
    left: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4.38304px);
    border-radius: 6.53059px;
    position: relative;
    text-align: center;

}

.main__card-first {
    padding: 21px 33px 8px;
}

.main__card-center {
    margin: 0 44px;
    padding: 13px 12px 8px;
}

.main__card-last {
    padding: 17px 31px 8px;
}


.main__img img {
    margin-bottom: 6px;

}

.main__desc {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.main__btn {
    display: none;
}


/* about */

.about__wrapper-first {
    display: flex;
    padding-top: 67px;
    position: relative;
}



.about__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 130px;
    line-height: 118px;

    text-transform: uppercase;
    max-width: 496px;
    color: #D1FF5D;
    margin-bottom: 63px;
    position: relative;

}

.about__wrapper-first::before {
    content: "about us";
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 223.663px;
    line-height: 229px;
    -webkit-text-stroke: 3px inherit;
    mix-blend-mode: screen;
    z-index: -1;
    background: linear-gradient(180.05deg, rgba(255, 255, 255, 0.2) 0.05%, rgba(255, 255, 255, 0) 182.77%);
    -webkit-background-clip: text;
    background-clip: text;
    left: -180px;
    top: -65px;
    width: 976px;
    text-transform: uppercase;
    position: absolute;
}

.about__txt {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
    max-width: 740px;
    position: relative;
    margin: 40px 0;
}



.about__txt-line::after {
    content: "";
    position: absolute;
    width: 740px;
    height: 0px;
    left: 0px;
    top: -20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: block;

}



.about__img {
    margin-left: 93px;
    padding-top: 299px;
    width: 503px;
    position: relative;
}

.about__img img {
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 0px 14px rgba(255, 255, 255, 0.17);
    backdrop-filter: blur(10.1395px);
    border-radius: 10px;
    ;

}

.about__img::before {
    content: url(../images/about-meeting.png);
    width: 453px;
    position: absolute;
    top: 130px;
    left: 100px;
    z-index: -1;
    box-shadow: 0px 0px 0px 14px rgba(255, 255, 255, 0.17);
    height: 300px;
    backdrop-filter: blur(10.1395px);
    border-radius: 10px;
}

.about__img::after {
    content: url(../images/green\ shadow\ img.png);
    width: 621.9px;
    position: absolute;
    top: -55px;
    left: -350px;
    z-index: -2;
}

.about__wrapper-second {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 115px 0 130px;
}

.about__steps {
    display: flex;
}


.about__question {
    padding: 200px 0 0;
}

.about__question-txt {

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    width: 409px;
    position: relative;
}

.about__question-txt::before {
    content: url(../images/about-greenlight.png);
    position: absolute;
    left: -150px;
    top: -580px;
    z-index: -1;
}

.about__question-txt::after {
    content: url(../images/about-absrtract.png);
    position: absolute;
    top: -280px;
    left: -150px;
    z-index: -1;
}

.about__question {
    position: relative;
}

.about__question::before {
    position: absolute;
    content: "";
    width: 611px;
    height: 242px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(10.1395px);
    border-radius: 10px;
    top: 170px;
    left: -150px;
    z-index: -1;
}



.about__steps img {
    width: 88px;
    height: 74px;
    margin: 0 35px 0 89px;

}

.about__steps {
    position: relative;
}

.about__steps:not(:last-child)::after {
    content: url(../images/about-arrow.png);
    position: absolute;
    top: 90px;
    left: 136px;
}


.about__subtitle {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.about__desc {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 77px;
}


/* why */


.why {
    background: rgba(7, 22, 27, 1);
}

.why__wrapper {
    padding: 107px 0 204px;
    position: relative;
}

.why__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 130px;
    line-height: 118px;
    text-transform: uppercase;
    color: #D1FF5D;
    margin-bottom: 127px;
}

.why__wrapper::before {
    position: absolute;
    content: "why us?";
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 180px;
    line-height: 160px;
    -webkit-text-stroke: 3px inherit;
    mix-blend-mode: screen;
    background: linear-gradient(180.05deg, rgba(255, 255, 255, 0.2) 0.05%, rgba(255, 255, 255, 0) 182.77%);
    -webkit-background-clip: text;
    background-clip: text;
    left: -176px;
    top: 0px;
    width: 895px;
    text-transform: uppercase;
    position: absolute;
}

.why__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 69px;
}

.why__box {
    width: 419px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10.1395px);
    border-radius: 15.1075px;
    position: relative;
    z-index: 99;
    padding: 26px 21px 35px 25px;
}

.why__box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 430px;
    bottom: -26px;
    left: -29px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10.1395px);
    border-radius: 15.1075px;
    z-index: -1;
    -webkit-box-shadow: 15px -15px 20px -10px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 15px -15px 20px -10px rgba(255, 255, 255, 0.1);
    box-shadow: 15px -15px 20px -10px rgba(255, 255, 255, 0.1)
}


.why__img {
    margin-bottom: 42px;
    height: 128px;
    width: 128px;
}

.why__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.why__box-last img {
    margin-bottom: 22px;
}



.why__subtitle {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 23px;
}

.why__txt {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 37px;
}

.why__btn {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    background-color: transparent;
    border: 2.04px solid #D1FF5D;
    width: 208px;
    height: 50px;
    border-radius: 3px;
    margin-left: 23px;
}

.why__btn:hover {
    background-color: #D1FF5D;
    color: #000000;
}



/* countries */


.countries {
    background: linear-gradient(180deg, #FFFFFF 0%, #DFFFF7 100%);
}

.countries__wrapper {
    padding: 64px 0 0;
    position: relative;
}

.countries__img-map {
    margin-left: 50px;
}

.countries__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    line-height: 118px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #05664F;
    position: relative;
    text-shadow: 0 0 2px #FFFFFF;
    margin-bottom: 41px;
}

.countries__title::after {
    content: "Countr ies";
    font-family: 'poppins';
    font-weight: 800;
    font-size: 137.13px;
    line-height: 162px;
    text-shadow: none;
    color: transparent;
    -webkit-text-stroke: 1px rgba(32, 51, 56, 0.16);
    width: 700px;
    left: -160px;
    top: -125px;
    text-transform: uppercase;
    position: absolute;
}

.countries__title::before {
    content: "";
    width: 140px;
    height: 3px;
    border-bottom: 3px solid rgba(5, 102, 79, 1);
    position: absolute;
    top: 50%;
    left: -150px;
}

.countries__list {
    display: flex;
    justify-content: space-between;
    width: 711px;
    height: 207px;
    background: #FFFFFF;
    box-shadow: 0px 20px 30px -16px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 33px 86px 32px 62px;
    position: absolute;
    top: 500px;
    left: -102px;
}

.countries__list-ul li {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    color: #05664F;
    margin-bottom: 10px;
}

.countries__img-america {
    position: absolute;
    top: 434px;
    left: 75px;
}

.countries__img-asia {
    position: absolute;
    top: 460px;
    right: 115px;
}

.countries__img-europe {
    position: absolute;
    top: 320px;
    left: 570px;
}

.countries__img-africa {
    position: absolute;
    top: 490px;
    left: 540px;
}


/* partners */

.partners {
    background: radial-gradient(100.28% 100.28% at 50% 50%, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.partners__wrapper {
    padding: 112px 0 148px;
    position: relative;
}

.partners__box {
    width: 1225px;
    height: 460px;
    margin: 0 auto;
    padding: 46px 0 106px;
    border: 5px solid #FFFFFF2D;
    border-radius: 10px;
    background: linear-gradient(98.14deg, rgba(255, 255, 255, 0.31) 5.19%, rgba(252, 252, 252, 0.21) 46.36%, rgba(248, 248, 248, 0.15) 93.43%);
}


.partners__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 118px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    text-align: center;
    margin-bottom: 96px;
}

.partners__title::after {
    content: "";
    position: absolute;
    width: 859px;
    height: 1px;
    background-color: #FFFFFF;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}


.partners__logo {
    display: flex;
    justify-content: space-between;
}

.partners__img {
    height: 106px;
}

.partners__img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.partners-abstracr-right {
    position: absolute;
    right: -155px;
    top: -410px;
    z-index: -1;
}

.partners-absrtact-left {
    position: absolute;
    left: -155px;
    top: 282px;
    z-index: -1;
}



/* footer */

.footer {
    background: #07161B;
}

.footer__wrapper {
    padding: 91px 0 144px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 105px;
}

.footer__logo {
    padding-top: 87px;
}


.footer__links {
    padding-top: 41px;
}

.footer__links-a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    display: block;
    margin-bottom: 20px;
}

.footer__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 121px;
    color: #D1FF5D;
    position: relative;
    width: 684px;
    margin-bottom: 50px;
}

.footer__title::after {
    content: "";
    position: absolute;
    width: 684px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.47);
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}

.footer__adresses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
}

.footer__number {
    display: flex;
    margin-bottom: 27px;

}

.footer__number-phone {
    margin-left: 21px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

.footer__email {
    display: flex;
}

.footer__email-adress {
    margin-left: 21px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

.footer__txt {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 27px;
}

.footer__icons-svg svg {
    margin-right: 30px;
}


/* media.css  */